// =======================================
// Color System  Guide
// =======================================

// Font Base Color
$ft-base: #222;
$ft-title: #666;
$ft-summary: #999;

// Background Common Color
$bg-body: #00d4ad;

// Border Color
$bd-title: #ddd;
$bd-inner: #eee;

// Table Color
$th-base: #ddd;
$td-base: #eee;

// Button Color
$btn-default: $bg-body;

// Input Color
$text-input: #222;

// Input Color
$ck-base: $bg-body;
$rd-base: $bg-body;